logs
target
.idea
.idea_modules
.classpath
.project
.settings
.directory
RUNNING_PID
/files_storage
/local
.DS_Store
.cache-main
.cache-tests
/bin
/project/project
/project/target
.ensime*
\#*
.#*
*#
newschema.sql
*.class

